<app-fullscreen>
  <div class="section title">
    <h2>About<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>NgColombia is the first Angular Conference in <span class="bold">Latin America.</span> It gathers a diverse mix of top-notch Angular speakers from countries like: <span class="bold">England, Denmark, Greece, the USA, Poland and much more.</span> This 2-day event is full of advanced workshops, keynotes and talks. It will be carried out in <span class="bold">Medellín, Colombia</span> at <a href="https://www.google.com/maps/place/Plaza+Mayor/@6.242602,-75.5771773,18z/data=!4m10!1m2!2m1!1splaza+mayor!3m6!1s0x8e4429ab627545c1:0x23674fd4c47ec19c!5m1!1s2018-07-20!8m2!3d6.242602!4d-75.576083?hl=en"
         target="_blank">Plaza Mayor.</a></p>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2>Yuxi Global<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>NgColombia's title sponsor is <span class="bold">Yuxi Global</span>, a non-traditional tech-company with 13 years of experience, providing <span class="bold">digital solutions</span> that tackle critical business challenges with a <span class="bold">human-centric approach</span> and accompany you through the <span class="bold">digital transformation journey.</span></p>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Production Team<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>These are the people behind the curtain.<span class="bold"> They are completely devoted</span> to make NgColombia an amazing event, using their experience, skills and knowledge. <span class="bold">They are responsible for the general execution</span> by constantly facing the boldest decisions.</p>
    <a href="https://twitter.com/FedericoGuaya"
       target="_blank"><img class="heroe"
    src="assets/img/heroes/federico.jpg"
    alt=""></a>
    <img class="heroe"
         src="assets/img/heroes/maria.jpg"
         alt="">
    <a href="https://twitter.com/jdjuan"
       target="_blank">
    <img class="heroe"
    src="assets/img/heroes/juan.jpg"
    alt=""></a>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Academic Committee<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>The academic committee is a <span class="bold">6-people team</span> with diverse backgrounds which is in charge of providing <span class="bold">different perspectives</span> on key matters such as the speakers' selection process, the diversity scholarship program and the production as a whole.</p>
    <a href="https://twitter.com/beeman_nl"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/bram.jpg"
       alt=""></a>
    <!-- matTooltip="Bram Borggreve" -->
    <a href="https://twitter.com/ingdalvarez"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/diana.jpg"
       alt=""></a>
    <!-- matTooltip="Diana Alvarez" -->
    <a href="https://twitter.com/javebratt"
       target="_blank">
      <img class="heroe"
      src="assets/img/heroes/jorge.jpg"
      alt=""></a>
    <!-- matTooltip="Jorge Vergara" -->
    <a href="https://twitter.com/ManuCastrillonM"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/manuela.jpg"
       alt=""></a>
    <!-- matTooltip="Manuela Castrillon" -->
    <a href="https://twitter.com/CarlosACNS"
       target="_blank">
      <img class="heroe"
      src="assets/img/heroes/carlos.jpg"
      alt=""></a>
    <!-- matTooltip="Carlos Angulo" -->
    <a href="https://twitter.com/Marianvilla"
       target="_blank">
    <img class="heroe"
    src="assets/img/heroes/marian.jpg"
    alt=""></a>
    <!-- matTooltip="Marian Villa" -->
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Website Committee<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph ">
    <p>While most websites are built with code and tests, NgColombia's is built with <span class="bold">passion and hard work.</span> The website committee is responsible for creating this <span class="bold">pixel-perfect</span> experience.</p>
    <img class="heroe"
         src="assets/img/heroes/leo.jpg"
         alt="">
    <img class="heroe"
         src="assets/img/heroes/juliana.jpg"
         alt="">
    <a href="https://twitter.com/jnrendon"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/jose.jpg"
       alt=""></a>
    <a href="https://twitter.com/luchillo17"
       target="_blank">
      <img class="heroe"
      src="assets/img/heroes/luchillo.jpg"
      alt=""></a>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">NgGirls<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p><a href="https://angular.io/"
         target="_blank"><span class="bold">NgGirls</span></a> is a worlwide initiative to provide an Angular workshop tailored for women. A very diligent team is behind the organization and <span class="bold">their passion is reflected in the hard work they put.</span> They are in charge of making sure every participant has <span class="bold">a wonderful and empowering experience.</span></p>
    <a href="https://twitter.com/maleja111"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/alejandra.jpg"
       alt=""></a>
    <a href="https://twitter.com/ManuCastrillonM"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/manuela.jpg"
       alt=""></a>
    <a href="https://twitter.com/ltciro"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/laura.jpg"
       alt=""></a>
    <a href="https://twitter.com/vanessamarely"
       target="_blank">
       <img class="heroe"
       src="assets/img/heroes/vanessa.jpg"
       alt=""></a>
  </div>
</app-fullscreen>
<app-fullscreen class="newsletter">
  <div class="section title">
    <h2>Get the latest news<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph ">
    <p>Sign up to our newsletter and be the first to know all the updates!</p>
    <form action="https://ng-colombia.us11.list-manage.com/subscribe/post?u=6b41dea739df1ec2b457d32dd&amp;id=ab82bece5b"
          method="post"
          target="_blank">
      <div>
        <mat-form-field>
          <input #input
                 type="email"
                 name="EMAIL"
                 matInput
                 placeholder="E-mail address"
                 required>
        </mat-form-field>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"
           aria-hidden="true">
        <input type="text"
               name="b_6b41dea739df1ec2b457d32dd_ab82bece5b"
               tabindex="-1"
               value="">
      </div>
      <div>
        <button class="mat-squared mat-light-button"
                type="submit"
                mat-raised-button
                color="accent">SIGN UP</button>
      </div>
    </form>
  </div>
</app-fullscreen>
<app-fullscreen class="map-container">
  <div id="map">
    <div class="message-overlay">
      <h2>Our<br>Spot<span class="roboto-font">.</span></h2>
      <a class="mat-squared mat-light-button"
         mat-raised-button
         color="accent"
         href="https://www.google.com/maps/place/Palacio+de+Exposiciones+Y+Convenciones+de+Medelln/@6.241807,-75.576072,18z/data=!4m5!3m4!1s0x8e4429acff294367:0x6ea5e3894ada792c!8m2!3d6.2416183!4d-75.5763117"
         target="_blank">GOOGLE MAPS</a>
    </div>
    <agm-map #agmMap
             [gestureHandling]="gestureHandling"
             [latitude]="lat"
             [longitude]="lng"
             [zoom]="zoom"
             [scaleControl]="panControl"
             [styles]="mapStyles">
      <agm-marker [latitude]="latMarker"
                  [longitude]="lngMarker">
        <agm-info-window>
          <h2 class="no-margins text-center">NG-COLOMBIA</h2>
          <h3 class="no-margins text-center">Sept 6 & 7 2018 </h3>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</app-fullscreen>