@import '~style/_variables.scss';

:host{
  background-color: #FFFFFF;
  display: block; 
}

@media (min-width: 1150px) {
  app-fullscreen{
   
    &:not(.map-container){
      max-width: 1300px;
      margin: 0 auto;
    }

    &:first-child{
      min-height: 80vh;
      padding-top: 20vh;
    }

    &.newsletter {
      padding-top: 5vh;
      padding-bottom: 20vh;
    }

    &:not(:first-child){
      min-height: 80vh;
    }
  }
  app-fullscreen:nth-of-type(-2n + 4){
    .section{
      &.title {
        order:2;
      }
      &.paragraph {
        order:1;
      }
    }
  }
}

.section {
  padding: 0 3rem;
  &.title {
    text-align: center;
    h2 {
      font-size: 5rem;
      line-height: 5rem;
      color: $dark-violet;
      margin: 0;
      letter-spacing: -0.025em;
      &.smaller {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
  &.paragraph {
    p {
      text-align: left;
      font-size: 1rem;
      a:link,
      a:visited,
      a:hover,
      a:active {
        color: $dark-blue;
      }
    }
    .heroe {
      width: 5rem;
      height: 5rem;
      filter: grayscale(1.0);
      border-radius: 4rem;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .heroe:hover {
      filter: none;
    }
  }
}

#map {
  position: relative;
  .message-overlay {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    height: 60%;
    background: linear-gradient(to bottom, rgba(0, 8, 251, 0.7) 0%, rgba(10, 90, 254, 0.6) 50%, rgba(10, 90, 254, 0.1) 88%, transparent 100%);
    z-index: 2;
    @media (max-width: 500px) and (orientation: landscape) {
      height: 50%;
    }
    @media (min-width: 750px) {
      right: auto;
      height: auto;
      bottom: 0;
      width: 55%;
      background: linear-gradient(to right, rgba(0, 8, 251, 0.7) 0%, rgba(10, 90, 254, 0.6) 50%, rgba(10, 90, 254, 0.1) 88%, transparent 100%);
      justify-content: center;
      flex-direction: column;
    }
    h2 {
      color: #FFFFFF;
      font-size: 6rem;
      line-height: 5rem;
      margin: -8% 0 0;
      @media (min-width: 750px) {
        font-size: 7rem;
        line-height: 6rem;
        margin: 0 0 6rem -8%;
      }
      @media (max-height: 500px) and (orientation: landscape) {
        margin-top: 1%;
      }
    }
    a {
      font-size: 1.2rem;
      margin-top: -8%;
      @media (min-width: 750px) {
        margin-left: -8%;
        margin-top: -3rem;
      }
      @media (max-height: 500px) and (orientation: landscape) {
        margin-top: 1%;
      }
      @media (max-width: 480px) and (orientation: portrait) {
        margin-top: -25%;
      }
    }
  }
  agm-map {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-width: 1150px) {
  .section {
    &.title {
      padding: 0rem 2.3rem;
      text-align: left;
      width: 95vw;
    }
  }
}

@media (min-width: 500px) {
  .section {
    &.title {
      padding: 0rem 2rem;
      h2 {
        font-size: 7rem;
        line-height: 7rem;
        &.smaller {
          font-size: 5rem;
          line-height: 5rem;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  .section {
    padding: 0rem 4rem; // padding: 0rem 3rem;
    &.title {
      h2 {
        font-size: 8rem;
        line-height: 8rem;
        &.smaller {
          font-size: 7rem;
          line-height: 6rem;
        }
      }
    }
    &.paragraph {
      p {
        text-align: justify;
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 1150px) {
  .section {
    width: 50vw;
    &.title {
      h2.smaller {
        font-size: 6rem;
      }
    }
    &.paragraph {
      padding: 0rem 6rem 0rem 2rem;
    }
  }
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.no-margins {
  margin: 0;
}

.text-center {
  text-align: center;
}