<app-fullscreen>
  <div class="section title">
    <h2>About<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>NgColombia is the first Angular Conference in <span class="bold">Latin America.</span> It gathers a diverse mix of top-notch Angular speakers from countries like: <span class="bold">England, Denmark, Greece, USA, Poland and much more.</span> This 2-day event is full of advance workshops, keynotes and talks. It will be carried out in <span class="bold">Medellín, Colombia</span> at Plaza Mayor.</p>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2>Yuxi Global<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>NgColombia's title sponsor is <span class="bold">Yuxi Global</span>, a nontraditional tech company with 13 years of experience providing <span class="bold">digital solutions</span> that tackle mission critical business challenges with a <span class="bold">human-centric approach</span> and accompany you through the <span class="bold">digital transformation journey.</span></p>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Academic Committee<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>The academic committee is a <span class="bold">6-people team</span> with diverse backgrounds that are in charge of providing <span class="bold">different perspectives</span> in key matters such as the speakers' selection process, the diversity scholarship program and the production as a whole.
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Website Committee<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph ">
    <p>While most websites are built with code and tests, NgColombia's is built with <span class="bold">passion and hard work.</span> The website committee is responsible for creating this <span class="bold">pixel-perfect</span> experience.</p>
  </div>
</app-fullscreen>