@import '~style/_variables.scss';
.container {
  margin: 5rem 0;
  .section {
    width: 97vw;
    padding: 0 1rem;
    &.title {
      text-align: start;
      margin-bottom: 2rem;
      h2 {
        font-size: 3rem;
        line-height: 3rem;
        color: $dark-violet;
        margin: 0;
        letter-spacing: -0.025em;
        &.smaller {
          font-size: 3rem;
          line-height: 3rem;
        }
        .line-break {
          display: none;
        }
      }
      h3 {
        color: $dark-violet;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
  }
}

@media (min-width: 750px) {
  .container {
    margin-top: 6rem;
    .section {
      display: inline-block;
      &.agenda {
        width: 57vw;
      }
      &.title {
        width: 39vw;
        text-align: left;
        padding-left: 13%;
        vertical-align: top;
        h2 {
          line-height: 4rem;
          font-size: 5rem;
          text-align: start;
          .line-break {
            display: initial;
          }
        }
        h3 {
          font-size: 1.8rem;
          line-height: 2rem;
          padding-left: 0.3rem;
        }
      }
    }
  }
}

@media (min-width: 1050px) {
  .container {
    .section {
      &.title {
        h2 {
          line-height: 6rem;
          font-size: 6.5rem;
        }
      }
    }
  }
}