<!-- <app-fullscreen class="start"> -->
<div class="container">
  <div class="section title">
    <h2 class="inline">Thurs<br class="line-break">day<span class="roboto">.</span></h2>
  </div>
  <div class="section agenda">
    <app-activity class="clickable"
                  *ngFor="let activity of thursday"
                  [activity]="activity"></app-activity>
  </div>
  <br><br><br>
  <div class="section title">
    <h2 class="inline">Fri<br class="line-break">day<span class="roboto">.</span></h2>
  </div>
  <div class="section agenda">
    <app-activity class="clickable"
                  *ngFor="let activity of friday"
                  [activity]="activity"></app-activity>
  </div>
</div>
<!-- </app-fullscreen> -->