:host {
    display:block;
}

.container {
    display: flex;
    background-color: #a296f7;
    min-height: 150vh;
    justify-content: center;
    align-items: center;
    position: relative;

    .text-wrapper {
        z-index: 2;
    }

    h2 {
        font-size: 15rem;
        color: #211056;
        margin: 0;
        line-height: 14rem;
    }

    h4 {
        font-size: 1.85rem;
        font-weight: normal;
        width: 57%;
        text-align: right;
        margin-left: 41%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .ball {
        position: absolute;
        transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        &.front{
            z-index: 3;
        }
        &.bottom{
            z-index: 1;
        }
    }

    .roboto {
        font-family: 'Roboto, sans-serif';
    }
}
