:host {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  &.start {
    justify-content: start;
  }
}

@media (min-width: 1150px) {
  :host {
    flex-direction: row;
  }
}