@import '~style/_variables.scss';
.section {
  padding: 0 3rem;
  &.title {
    text-align: center;
    h2 {
      font-size: 4rem;
      line-height: 4rem;
      color: $dark-violet;
      margin: 0;
      letter-spacing: -0.025em;
      &.smaller {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
  &.paragraph {
    p {
      text-align: left;
      font-size: 1rem;
      a:link,
      a:visited,
      a:hover,
      a:active {
        color: $dark-blue;
      }
    }
  }
}

@media (max-width: 1150px) {
  .section {
    &.title {
      padding: 0rem 2.3rem;
      text-align: left;
      width: 95vw;
    }
  }
}

@media (min-width: 500px) {
  .section {
    &.title {
      padding: 0rem 2.5rem;
      h2 {
        &.smaller {
          font-size: 4rem;
          line-height: 4rem;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  .section {
    padding: 0rem 4rem; // padding: 0rem 3rem;
    &.title > h2 {
      font-size: 8rem;
      line-height: 8rem;
      &.smaller {
        font-size: 6rem;
        line-height: 6rem;
      }
    }
    &.paragraph {
      p {
        text-align: justify;
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 1150px) {
  .section {
    width: 50vw;
    &.title {
      h2.smaller {
        font-size: 5rem;
      }
    }
    &.paragraph {
      padding: 0rem 6rem 0rem 2rem;
    }
  }
}

p.bullet {
  margin-bottom: 0.3rem;
}

.ng-girls-logo {
  width: 100px;
  margin: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}