<app-fullscreen>
  <div class="section title">
    <h2>NgGirls<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>We strongly believe in the <span class="bold">positive change</span> you can generate in our industry. Our goal is to empower you to get involved in the technology field through a platform called <a href="https://angular.io/"
         target="_blank"><span class="bold">Angular;</span></a> a tool that is revolutionizing the way web and mobile apps are built. <br><br> Join us and enjoy this space tailored just for you! 💃</p>
    <br>
    <a class="mat-squared mat-light-button"
       href="https://docs.google.com/forms/d/e/1FAIpQLSdj6sf5OydOrLyhZ1RbOgcXUWVhSRjLb7lo5tSHlLmClisXEQ/viewform"
       target="_blank"
       mat-raised-button
       color="accent">Apply Now</a>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2>Details<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>NgGirls is an Angular workshop tailored for women. In NgGirls you will create an Angular application from scratch, you will learn the most important concepts by the hand of expert women in the field, and you will get the basis you need to take your knowledge to the next level!
    </p>
    <p class="bullet">📅 <span class="bold">Date:</span> September 1st</p>
    <p class="bullet">🏩 <span class="bold">Venue:</span> Auditorium Premium Plaza, 4th floor</p>
    <p class="bullet">⏰ <span class="bold">Time:</span> 8:00 am to 4:00 pm</p>
    <p class="bullet">🍛 <span class="bold">Lunch:</span> Included of course!</p>
    <br>
    <a class="mat-squared mat-light-button"
       href="https://docs.google.com/forms/d/e/1FAIpQLSdj6sf5OydOrLyhZ1RbOgcXUWVhSRjLb7lo5tSHlLmClisXEQ/viewform"
       target="_blank"
       mat-raised-button
       color="accent">Apply Now</a>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2>Winners<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>You just have to apply using <a href="https://docs.google.com/forms/d/e/1FAIpQLSdj6sf5OydOrLyhZ1RbOgcXUWVhSRjLb7lo5tSHlLmClisXEQ/viewform"
         target="_blank"><span class="bold">this form</span></a> before August 24th. On August 27th we will announce the winners via email or phone call. Check our selection criteria below:
    </p>
    <p class="bullet">✔️ <span class="bold">Impact:</span> The impact NgGirls will make in your professional career</p>
    <p class="bullet">✔️ <span class="bold">Interest:</span> The interest you have of participating of NgGirls</p>
    <p class="bullet">✔️ <span class="bold">Sharing:</span> Your desire of sharing the knowledge with others</p>
    <br>
    <a class="mat-squared mat-light-button"
       href="https://docs.google.com/forms/d/e/1FAIpQLSdj6sf5OydOrLyhZ1RbOgcXUWVhSRjLb7lo5tSHlLmClisXEQ/viewform"
       target="_blank"
       mat-raised-button
       color="accent">Apply Now</a>
  </div>
</app-fullscreen>