@import '~style/_variables.scss';
.top-bar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: $dark-violet;
  p {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 1rem;
  }
}

@media (max-width: 400px) {
  .top-bar {
    height: 4rem;
    p {
      font-size: 0.8rem;
    }
  }
}

.wrapper,
.test {
  background-color: $dark-blue;
  width: 100%;
  text-align: center;
  .coc {
    color: white;
    a {
      color: white;
      font-weight: bold;
    }
  }
  .logos {
    padding-top: 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    .divider {
      width: 2px;
      background-color: #fff;
      height: 44px;
      margin-top: 10px;
    }
    a {
      width: 8rem;
    }
    img {
      max-height: 50px;
      margin: 5px 19px;
    }
  }
  .copyright {
    padding-bottom: 10px;
    color: #fff;
    font-weight: 200;
    font-size: 0.8em;
  }
}