@import '~style/_variables.scss';
:host {
  padding: $page-padding;
}

.ticket-options {
  display: flex;
  flex-direction: column;
  > .ticket-tile {
    padding: 20px;
    padding-top: 50px;
  }
}
@media (min-width: 840px) {

.ticket-options {
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  justify-content: stretch;
  align-items: flex-start;

  > .ticket-tile {
    padding: 20px;
    padding-top: 120px;
    flex-grow: 1;
    margin-right: $page-padding;
    :last-child {
      margin-right: 0px;
    }
  }
}
}

.ticket-tile {
  background: $dark-violet;
  color: white;
  text-align: center;

  @media (min-width: 840px) {
    text-align: left;

    background: -moz-radial-gradient(center, ellipse cover, rgba(210,156,252,1) 0%, rgba(192,136,235,1) 15%, rgba(92,63,201,1) 46%, rgba(26,74,219,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,156,252,1)), color-stop(15%, rgba(192,136,235,1)), color-stop(46%, rgba(92,63,201,1)), color-stop(100%, rgba(26,74,219,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,156,252,1) 0%, rgba(192,136,235,1) 15%, rgba(92,63,201,1) 46%, rgba(26,74,219,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,156,252,1) 0%, rgba(192,136,235,1) 15%, rgba(92,63,201,1) 46%, rgba(26,74,219,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,156,252,1) 0%, rgba(192,136,235,1) 15%, rgba(92,63,201,1) 46%, rgba(26,74,219,1) 100%);
    background: radial-gradient(ellipse at center, rgba(210,156,252,1) 0%, rgba(192,136,235,1) 15%, rgba(92,63,201,1) 46%, rgba(26,74,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d29cfc', endColorstr='#1a4adb', GradientType=1 );

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

main {
  display: block;
  padding: $page-padding;
}
