<div class="ticket-card">
  <h4>{{ticket.category}}</h4>
  <div class="tickets-container">
    <div class="ticket-info"
         *ngFor="let price of ticket.tickets">
      <div class="price">{{price.value | currency}}</div>
      <!-- <div class="price">{{price.value}} USD</div> -->
      <div class="ticket-name">{{price.name}}</div>
      <a class="mat-squared mat-light-button"
         mat-raised-button
         href="https://www.ticketexpress.com.co/producto/ng-colombia/"
         target="_blank"
         color="accent">BUY NOW</a>
    </div>
  </div>
  <div class="discount"
       *ngIf="ticket.discountPercent">
    <div class="discount-label">SAVE</div>
    <div class="discount-value">{{ticket.discountPercent | percent}}</div>
  </div>
</div>