<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               opened="false"
               position="end"
               tabindex="0">
    <button type="button"
            class="close-menu-button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
              </button>
    <mat-nav-list class="menu-link-list">
      <ng-container *ngFor="let link of showedMenuLinks">
        <a mat-list-item
           (click)="drawer.toggle()"
           class="menu-link"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact:true}"
           [routerLink]="link.route">{{link.text}}</a>
      </ng-container>
    </mat-nav-list>
    <mat-nav-list class="other-info-list">
      <a mat-list-item
         (click)="drawer.toggle()"
         class="menu-link"
         [routerLink]="['/faq']">FAQ</a>
      <a mat-list-item
         (click)="drawer.toggle()"
         class="menu-link"
         [routerLink]="['/ng-girls']">NgGirls</a>
      <a mat-list-item
        (click)="drawer.toggle()"
        class="menu-link"
        [routerLink]="['/heroes']">Our Heroes</a>
      <a mat-list-item
         (click)="drawer.toggle()"
         class="menu-link"
         [routerLink]="['/coc']">Code of Conduct</a>
      <a mat-list-item
         (click)="drawer.toggle()"
         class="menu-link"
         [routerLink]="['/community']">Community Partners</a>
      <a mat-list-item
         (click)="drawer.toggle()"
         class="menu-link"
         [routerLink]="['/diversity']">Diversity Scholarships</a>
      <a mat-list-item
         class="menu-link small"
         href="mailto:info@ngcolombia.com">Contact us: info@ngcolombia.com</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary"
                 class="toolbar"
                 [@scrollAnimation]="toolbarState">
      <span class="title">
        <a class=link [routerLink]="['/']">
          NG-COLOMBIA
        </a>
      </span>
      <span class="fill-space"></span>
      <button type="button"
              class="menu-button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon class="md-36" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>