@import '~style/variables';
.clickable {
  cursor: pointer;
}

.activity-text {
  position: relative;
}

.sphere {
  margin: 0;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 12px 0px;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  position: absolute;
  right: 10px;
  background: radial-gradient(farthest-corner at 17px 11px, #deb2ff, #3200cccf, #110046);
  &.general-activity {
    background: radial-gradient(farthest-corner at 17px 11px, #adcdff, #0a5afe, #110046);
  }
}

.title {
  color: $dark-violet;
  width: calc(90% - 30px);
  border-bottom: 1px solid;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &.general-activity {
    color: $dark-blue;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    top: 16px;
  }
}

.open-icon {
  position: absolute;
  right: calc(8% + 11px);
  top: 15px;
  width: 24px;
  height: 24px;
  color: #211056;
}

.author {
  position: absolute;
  font-size: 11px;
  width: calc(90% - 30px);
  color: $dark-violet;
  font-weight: 500;
  left: 0px;
  bottom: 20px;
  &.general-activity {
    color: $dark-blue;
  }
}

@media (min-width: 360px) {
  .author {
    bottom: 16px;
  }
}

@media (min-width: 450px) {
  .sphere {
    font-size: 1.1rem;
    height: 55px;
    width: 55px;
    padding: 14px 0px;
  }
  .title {
    font-size: 16px;
    top: 11px;
    &.smaller {
      font-size: 16px;
    }
  }
  .author {
    font-size: 12px;
    bottom: 19px;
  }
}