<div [class.clickable]="activity.description">
  <mat-grid-list (click)="openDetails(activity)"
                 cols="5"
                 [rowHeight]="gridHeight">
    <mat-grid-tile [colspan]="1"
                   [rowspan]="2">
      <figure class="sphere"
              [class.general-activity]="isGeneralActivity(activity)">{{activity.time}}</figure>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4"
                   [rowspan]="2"
                   class="activity-text">
      <div class="title"
           [class.general-activity]="isGeneralActivity(activity)"
           [style.fontSize]="isGeneralActivity(activity) ? null : titleFontSize">{{activity.title}}
      </div><br>
      <div class="open-icon" *ngIf="activity.description"><i class="material-icons">open_in_new</i></div>
      <div class="author"
           [class.general-activity]="isGeneralActivity(activity)"
           [style.fontSize]="isGeneralActivity(activity) ? null : speakerFontSize">{{activity.speaker}}</div>
    </mat-grid-tile>
  </mat-grid-list>
</div>