<div [class.clickable]="activity.description">
  <mat-grid-list (click)="openDetails(activity)"
                 cols="5"
                 [rowHeight]="'35px'">
    <mat-grid-tile [colspan]="1"
                   [rowspan]="2">
      <figure class="sphere"
              [class.general-activity]="isGeneralActivity(activity)">{{activity.time}}</figure>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4"
                   [rowspan]="2">
      <div class="title"
           [class.general-activity]="isGeneralActivity(activity)"
           [style.fontSize]="isSmallScreen ? activity.fontSize : null">{{activity.shortTitle ? activity.shortTitle : activity.title}}
      </div><br>
      <div class="author"
           [class.general-activity]="isGeneralActivity(activity)">{{activity.speaker}}</div>
    </mat-grid-tile>
  </mat-grid-list>
</div>