<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Community<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>NgColombia is more than a conference. <span class="bold">It is a community.</span> A community only made possible through the constant support and participation of their <span class="bold">+1500 members.</span> Today, Angular Medellin joins forces with other communities to <span class="bold">achieve a greater impact</span> and empower more people towards a better future. <span class="bold">Today we are one.</span><br><br> Scroll down and meet those who are joining forces with us: </p>
  </div>
</app-fullscreen>

<div class="container">
  <div id="gdg">
    <a href="https://www.meetup.com/gdg-medellin/"
       target="_blank">
             <img class="large" src="assets/img/community/gdg-medellin.png">
            </a>
  </div>
  <div>
    <a href="https://www.meetup.com/pionerasdevelopers"
       target="_blank">
          <img class="smaller" src="assets/img/community/pioneras.png">
        </a>
  </div>
  <div>
    <a href="https://www.meetup.com/medellinjs/"
       target="_blank">
             <img class="small" src="assets/img/community/medellin-js.png">
          </a>
  </div>

</div>
<div class="container">
  <div>
    <img src="assets/img/community/google.png"
         alt="">
  </div>
  <div>
    <a href="https://www.meetup.com/Angular-Medellin/"
       target="_blank">
      <img class="larger" src="assets/img/community/angular-medellin.png" width="100" height="100"
      alt="">
    </a>
  </div>

  <div>
    <a href="https://www.meetup.com/medellincss/"
       target="_blank">
       <img src="assets/img/community/medellin-css.png">
    </a>
  </div>
</div>