<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Community<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>NgColombia is more than a conference. <span class="bold">It is a community.</span> A community only made possible through the constant support and participation of their <span class="bold">+1400 members.</span> Today, Angular Medellin joins forces with other communities to <span class="bold">achieve a greater impact</span> and empower more people towards a better future. <span class="bold">Today we are one.</span><br><br> Scroll down and meet those who are joining forces with us: </p>
  </div>
</app-fullscreen>

<div class="container">
  <img src="assets/img/community/angular-medellin.png"
       alt="">
  <!-- <img src="assets/img/community/google.png"
       alt=""> -->
  <img src="assets/img/community/gdg-medellin.png"
       alt="">
</div>
<!-- <div class="container">
  <img src="assets/img/community/angular-medellin.png"
       alt="">
  <img src="assets/img/community/google.png"
       alt="">
  <img src="assets/img/community/gdg-medellin.png"
       alt="">
</div> -->