<div class="wrapper parallax-box">
    <div class="middle-container">
        <img appParallaxAnimated
             src="assets/img/cfp-third-circle.png"
             alt=""
             class="third-circle circle desktop">
        <img appParallaxAnimated
             src="assets/img/cfp-second-circle.png"
             alt=""
             class="second-circle circle desktop">
        <img appParallaxAnimated
             src="assets/img/cfp-first-circle.png"
             alt=""
             class="first-circle circle desktop">
        <img src="assets/img/cfp-third-circle-mb.png"
             alt=""
             class="third-circle circle mobile">
        <img src="assets/img/cfp-second-circle-mb.png"
             alt=""
             class="second-circle circle mobile">
        <img src="assets/img/cfp-first-circle-mb.png"
             alt=""
             class="first-circle circle mobile">
        <div class="big-text">
            <div>
                Call
            </div>
            <div>
                for
            </div>
            <div>
                papers
                <span class="period">.</span>
            </div>
        </div>
        <div class="text">
            <div class="container">
                <p>The CFP is open! Submit your talk <br class="desktop"><br class="mobile"> or workshop before May 15th.<br class="mobile"><br class="desktop"> NgColombia will take place <br class="mobile"><br class="desktop"> in <span style="font-weight:bold">Medellín, Colombia</span></p>
                <p>
                    <a mat-flat-button
                       href="https://docs.google.com/forms/d/e/1FAIpQLSfpsWm2rreUtUPRSbjIpG9WqX6nFrJb1i796S8zH9m6ECzFvA/closedform"
                       target="_blank"
                       color="primary">FILL FORM</a>
                </p>
            </div>
        </div>
    </div>
</div>