<div id="box" class="wrapper" (mousemove)="animateElements($event)">
  <div  class="middle-container" >
    <img #firstCircle src="assets/img/first-circle.png" alt="" class="first-circle animated">
    <img #secondCircle src="assets/img/second-circle.png" alt="" class="second-circle animated">
    <img #thirdCircle src="assets/img/third-circle.png" alt="" class="third-circle animated">
    <div class="big-text">
      <div>
        Call
      </div>
      <div>
        for
      </div>
      <div>
        papers.
      </div>
    </div>
    <div class="text">
      <div class="container">
        <p>Are you interestedin being <br class="mobile"> part of <br class="desktop"> NG-COLOMBIA<br class="mobile"> speakers team? <br> Share with us your work!</p>
        <p>
          <button mat-flat-button color="primary">FILL FORM</button>
        </p>
      </div>
    </div>
  </div>
</div>