.wrapper {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .middle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    margin: 10%;
    position: relative;

    .circle {
      position: absolute;

      &.desktop {
        display: none;
      }
    }

    img.first-circle {
      top: -5%;
      left: 36%;
      width: 77px;
    }

    img.second-circle {
      top: 23%;
      left: 49%;
      width: 35px;
    }

    img.third-circle {
      top: 17%;
      left: 7%;
      width: 18px;
    }

    .big-text {
      text-align: right;
      font-weight: bold;
      color: #211056;
      font-size: 20.6vw;
      line-height: 21vw;
      position: relative;
      letter-spacing: 0.01em;
      word-spacing: 0.08em;
      .period {
        font-family: serif;
        margin-left: -25px;
        font-size: 8rem;
      }
    }

    .text {
      text-align: left;
      line-height: 1.95em;
      margin-top: 4vh;
      position: relative;
    }
  }

  br.desktop {
    display: none;
  }

  @media (min-width: 600px) and (min-height: 551px) {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;

    .middle-container {
      display: flex;
      flex-grow: 1;
      align-items: flex-end;
      flex-wrap: nowrap;
      margin: auto;

      .circle {
        &.mobile {
          display: none;
        }
        &.desktop {
          display: inline;
        }
      }

      img.first-circle {
        top: -54%;
        left: 44%;
        width: auto;
      }

      img.second-circle {
        top: 37%;
        left: 50%;
        width: auto;
      }

      img.third-circle {
        top: 30%;
        left: 39%;
        width: auto;
      }

      .big-text {
        flex-grow: 2;
        padding-right: 30px;
        font-size: 110px;
        line-height: 107px;
      }

      .text {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
      }
    }

    br.mobile {
      display: none;
    }

    br.desktop { 
      display: inline;
    }
  }

  @media (max-width: 750px) {
    .big-text {
      .period {
        display: none;
      }
    }
  }

  @media (orientation: landscape) and (max-height: 550px) {
    .middle-container {
      margin: 0;
      width: 100%;
      justify-content: space-around;
    
      .big-text {
        font-size: 10vw;
        line-height: 10vw;
      }

      .circle {
        &.mobile {
          display: inline;
        }
        &.desktop {
          display: none;
        }
      }

      img.second-circle {
        top: 48%;
      }
    }
  }
}
