.wrapper {
  background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    
    .middle-container {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: flex-end;
      
      .big-text {
        flex-grow: 2;
        text-align: right;
        font-size: 110px;
        font-weight: bold;
        color: #211056;
        line-height: 107px;
        font-family: 'Poppins';
        padding-right: 30px;
      }
      
      .text {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding-left: 10px;
        line-height: 1.95em;
      }
    }
}