<div class="wrapper">
  <div class="middle-container">
    <div class="big-text">
      <div>
        Call
      </div>
      <div>
        for
      </div>
      <div>
        papers.
      </div>
    </div>
    <div class="text">
      <div class="container">
        <p>Are you interestedin being part of
          <br> NG-COLOMBIA speakers team?
          <br> Share with us your work!</p>
        <p>
          <button mat-flat-button color="primary">FILL FORM</button>
        </p>
      </div>
    </div>
  </div>
</div>