// Colors
$violet: #a296f7;
$dark-violet: #211056;
$light-violet: #deb2ff;
$blue: #7becff;
$dark-blue: #0a5afe;
$light-blue: #adcdff;
// Sizes
$desktop-min-size: 680px;
$middle-desktop-top-size: 1200px;
$header-height: 45px;
$speaker-img-aspect-ratio: 3/2;
$page-padding: 1rem;
$very-small-width: 320px;