@import '../../../style/_palette.scss';

$header-height: 45px;
$page-padding: 1rem;
$primary-color: #211056;

:host {
  padding: $page-padding;
}

#firstScreen {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header-height} - #{$page-padding});
}

#title,
#scrollDown {
  color: $primary-color;
  text-align: center;
  font-weight: bold;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#title {
  flex: 1;
  font-size: 6rem;
  min-height: 200px;
}

#scrollDown {
  height: 85px;
  padding: 20px;
}

mat-grid-tile {
  background-repeat: no-repeat;
  background-size: contain;
}

.speakerData {
  color: white;

  left: 20px;
  bottom: 20px;
  position: absolute;

  > * {
    margin: 0;
  }
}
