.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  background: -moz-linear-gradient(65deg, #341b6f 59%, #781991 100%);
  background: -webkit-linear-gradient(65deg, #341b6f 59%, #781991 100%);
  background: linear-gradient(65deg, #341b6f 59%, #781991 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#341b6f', endColorstr='#781991',GradientType=1 );

  .dates {
    position: absolute;
    top: 3rem;
    left: 3rem;
    .date {
      position: relative;
      border: 2px solid #78f5ff;
      padding: 6px 10px;
      color: white;
      font-weight: bold;
      font-size: 1.4rem;
      margin-right: 5px;
    }
    .date-month {
      background-color: #211056;
    }
  }

  .reveal{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;

    .gradient {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: url(/assets/img/header-bg.jpg) no-repeat scroll center center #f7a5ff;
      background-size: cover;

      p {
        color: #211056;
        position: relative;
        width: 80%;
        max-width: 850px;
        margin: auto;
        line-height: 1.2;
        font-size: 20px;

        &.first {
          top: calc(48% - 85px);
          text-align: left;
        }

        &.second{
          top: calc(50% + 10px);
          text-align: right;
        }
        span {
          font-size: 1.1em;
          color: white;
          font-weight: bold;
          text-shadow: -2px 2px black;
          display: block;
          text-transform: uppercase;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .dates {
      top: 2rem;
      left: 2rem;
      .date {
        padding: 5px;
        font-size: 1rem;
        margin-right: 3px;
      }
    }
  }

  @media (max-width: 500px) {
    .dates {
      top: 1rem;
      left: 1rem;
      .date {
        padding: 3px;
        font-size: 0.7rem;
        margin-right: 1.5px;
      }
    }
  }

  .ng-colombia-2018-logo {
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top: 20px;
    color: #ffffff;
    font-family: 'Poppins';
    z-index: 2;
    p {
      margin: 4px;
      font-size: 20px;
      font-weight: 600;

      &.text {
        letter-spacing: 0.16em;
        margin-top: -4px;
      }

      &.year {
        font-size: 44px;
        line-height: 31px;
        display: flex;
        justify-content: center;
        letter-spacing: 0.08em;

        span {
          font-size: 31px;
          line-height: 24px;
          border-bottom: 3px solid #fff;
          letter-spacing: -1px;
        }
      }
    }

    img {
      align-self: flex-start;
      width: 50px;
    }
  }

  img.angular {
    max-height: 230px;
    margin: 0 auto;
    max-width: 80%;
    position: relative;
  }

  @media (orientation: landscape) and (max-height: 450px) {
    
    .dates {
      top: 15px;
      left: 20px;
    }
    
    .ng-colombia-2018-logo {
      width: auto;
      left: auto;
      color: #ffffff;
      display: flex;
      right: 20px;
      top: 10px;
      align-items: flex-end;

      p {
        font-size: 16px;

        &.year {
          font-size: 25px;
          line-height: 25px;

          span {
            font-size: 21px;
            line-height: 21px;
          }
        }
      }

      img { 
        width: 30px;
      }
    }
    .reveal{
      .gradient {
        p.first {
          top: calc(58% - 135px);
        }
        p {
          
          &.second{
            top: calc(39% + 15px);
          }
          span {
            font-size: 1.1em;
          }
        }
      }
    }

    #sliderContainer {
      bottom: 0;

      p{
        margin: 5px;
      }
    }

    img.angular {
      max-height: 95px;
      margin-top: -35px;
    }
  }

  @media (min-width: 600px) and (min-height: 551px) {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
  
    .reveal {
      .gradient {
        p {
          font-size: 30px;
          &.first {
            top: calc(50% - 150px);
            padding-left: 0;
          }
          &.second {
            top: calc(50% + 80px);
          }
          span {
            font-size: 1.6em;
          }
        }
      }
    }
  }

  #sliderContainer {
    left: calc(50% - 100px);
    bottom: 20px;
    position: absolute;
    width: 220px;
    
    @media (max-height: 450px) {
      bottom: 0px;
    }

    mat-slider {
      width: 100%;
      height: 40px;
      border: 2px solid white;
      transition: all ease-in-out 1s;
      border-radius: 1.5rem;
      &::before {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 18px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        display: block;
      }
      ::ng-deep {
        .mat-slider-wrapper {
          top: 50%;
          left: 50%;
          width: 80%;
          transform: translate(-50%, -50%);
        }
        .mat-slider-track-fill {
          background-color: rgba(0, 0, 0, 0.26);
        }
        .mat-slider-thumb-container {
          top: 50;
        }
        .mat-slider-thumb {
          transform: scale(1.6);
          background-color: #78f5ff;
        }
      }
    }
    p.move-me {
      text-transform: uppercase;
      color: white;
      transition: all ease-in-out 1s;
    }
  }
}
