@import '~style/_variables.scss';
.wrapper-news-letter {
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .middle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 15px;
    .big-text {
      text-align: left;
      font-weight: bold;
      color: $dark-violet;
      font-size: 20.6vw;
      line-height: 21vw;
      order: -1;
      position: relative;
      letter-spacing: 0.01em;
      word-spacing: 0.08em;
      .period {
        font-family: serif;
        margin-left: -2rem;
        font-size: 8rem;
        line-height: 0rem;
      }
    }
    .signup {
      text-align: center;
      font-weight: 400;
      color: $dark-violet;
      line-height: 1.95rem;
      margin-top: 4vh;
      justify-content: center;
      position: relative;
      p.text {
        font-size: 1.2rem;
        text-align: right;
        letter-spacing: -0.025em;
      }
    }
  }
  br.desktop {
    display: none;
  }
  @media (min-width: 680px) and (min-height: 551px) {
    padding: 150px 0 200px;
    min-height: initial;
    .middle-container {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: flex-start;
      margin: auto;
      position: relative;
      z-index: 1;
      justify-content: center;
      .big-text {
        flex-grow: 1;
        font-size: 110px;
        line-height: 100px;
        padding-left: 30px;
        order: 0;
      }
      .signup {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        text-align: right;
      }
    }
    br.mobile {
      display: none;
    }
    br.desktop {
      display: inline;
    }
  }
  @media (orientation: landscape) and (max-height: 550px) {
    .middle-container {
      margin: 0;
      width: 100%;
      justify-content: space-around;
      .big-text {
        font-size: 10vw;
        line-height: 10vw;
      }
      .signup {
        p.text {
          text-align: center
        }
      }
    }
  }
}

::ng-deep {
  .mat-form-field-label.mat-input-placeholder.mat-form-field-placeholder {
    color: #b36dfc;
    text-align: center;
    font-family: Muli;
    letter-spacing: 0.05em;
    font-weight: 200;
    @media (min-width: 600px) {
      text-align: right;
    }
  }
  .mat-form-field-underline {
    background-color: $dark-blue;
  }
}