<div class="wrapper-news-letter">
  <div class="middle-container">
    <div class="signup">
      <div class="container">
        <p class="text">
          Sign up to our newsletter and be
          <br class="mobile">
          <br class="desktop"> be the first to know about dates for
          <br class="desktop">
          <br class="mobile"> tickets releasing and more!
          <p>
            <form action="https://ng-colombia.us11.list-manage.com/subscribe/post?u=6b41dea739df1ec2b457d32dd&amp;id=ab82bece5b"
                  method="post"
                  target="_blank">
              <div>
                <mat-form-field>
                  <input #input
                         type="email"
                         name="EMAIL"
                         matInput
                         placeholder="E-mail address"
                         required>
                </mat-form-field>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"
                   aria-hidden="true">
                <input type="text"
                       name="b_6b41dea739df1ec2b457d32dd_ab82bece5b"
                       tabindex="-1"
                       value="">
              </div>
              <div>
                <button type="submit"
                        mat-flat-button
                        color="primary">SIGN UP</button>
              </div>

            </form>
      </div>
    </div>
    <div class="big-text">
      <div>
        Get the
      </div>
      <div>
        latest
      </div>
      <div>
        news
        <span class="period">.</span>
      </div>
    </div>
  </div>
</div>