.wrapper {
  background-color: #211056;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;


  .middle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 10%;

    .circle {
      position: absolute;

      &.desktop{
        display: none;
      }
    }

    img.first-circle {
      top: 10%;
      left: 71%;
      width: 62px;
    }
    img.second-circle {
      top: 23%;
      left: 90%;
      width: 15px;
    } 
    img.third-circle {
      top: 28%;
      left: 76%;
      width: 38px;
    }
    img.fourth-circle {
      top: 37%;
      left: 6%;
      width: 32px;
    }

    .big-text {
      text-align: left;
      font-weight: bold;
      color: #ffffff;
      font-size: 20.6vw;
      line-height: 21vw;
      order: -1;
      position: relative;
      letter-spacing: 0.01em;
      word-spacing: 0.08em;
    }
    
    .signup {
      text-align: center;
      font-weight: 200;
      color: #ffffff;
      line-height: 1.95em;
      margin-top: 4vh;
      justify-content: center;
      position: relative;
      
      p.text {
        text-align: right;
      }
    }
  }
  
  br.desktop { 
    display: none;
  }
  
  @media (min-width: 600px) {

    width: 100vw;
    height: 100vh;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;

    .middle-container {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: flex-end;
      margin: auto;
      position: relative;
      z-index: 1;

      .circle{
        &.mobile {
          display: none;
        }
        &.desktop {
          display: initial;
        }
      }

      img.first-circle {
        top: -56%;
        left: 58%;
        width: initial;
      }
      img.second-circle {
        top: 25%;
        left: 68%;
        width: initial;
      } 
      img.third-circle {
        top: 36%;
        left: 55%;
        width: initial;
      }
      img.fourth-circle {
        top: 95%;
        left: 39%;
        width: initial;
      }
      
      .big-text {
        flex-grow: 2;
        font-size: 110px;
        line-height: 107px;
        padding-left: 30px;
        order: initial;
      }
      
      .signup {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        text-align: right;
      }
    }

    br.mobile { 
      display: none;
    }

    br.desktop { 
      display: initial;
    }
  }

  @media (orientation: landscape) and (max-height: 450px) {
    height: auto;

    .middle-container {
      .big-text {
        font-size: 16vw;
        line-height: 16vw;
      }
    }
  }
}

::ng-deep{
  .mat-form-field-label.mat-input-placeholder.mat-form-field-placeholder {
    color: #b36dfc;
    text-align: center;
    font-family: Muli;
    letter-spacing: 0.05em;
    font-weight: 200;
    
    @media (min-width: 600px) {
      text-align: right;
    }
  }
  .mat-form-field-underline{
    background-color: #0a5afe;
  }
}