<div appMadness
     [madnessEnabled]='madness'
     class="wrapper parallax-box">
    <div class="middle-container">
        <img appParallaxAnimated
             [resetRotation]="pbb || madness"
             pbb
             [pbbEnabled]="pbb"
             src="assets/img/nl-fourth-circle.png"
             alt=""
             class="fourth-circle circle desktop">
        <img appParallaxAnimated
             [resetRotation]="pbb || madness"
             pbb
             [pbbEnabled]="pbb"
             src="assets/img/nl-third-circle.png"
             alt=""
             class="third-circle circle desktop">
        <img appParallaxAnimated
             [resetRotation]="pbb || madness"
             pbb
             [pbbEnabled]="pbb"
             src="assets/img/nl-second-circle.png"
             alt=""
             class="second-circle circle desktop">
        <img appParallaxAnimated
             [resetRotation]="pbb || madness"
             pbb
             [pbbEnabled]="pbb"
             src="assets/img/nl-first-circle.png"
             alt=""
             class="first-circle circle desktop">
        <img src="assets/img/nl-fourth-circle-mb.png"
             alt=""
             class="fourth-circle circle mobile">
        <img src="assets/img/nl-third-circle-mb.png"
             alt=""
             class="third-circle circle mobile">
        <img src="assets/img/nl-second-circle-mb.png"
             alt=""
             class="second-circle circle mobile">
        <img src="assets/img/nl-first-circle-mb.png"
             alt=""
             class="first-circle circle mobile">
        <div class="signup">
            <div class="container">
                <p class="text"
                   pbb
                   [pbbEnabled]="pbb">
                    <span>Sign</span>
                    <span>up</span>
                    <span>now</span>
                    <span>and</span>
                    <br class="mobile">
                    <br class="desktop">
                    <span>be</span>
                    <span>the</span>
                    <span>first</span>
                    <span>to</span>
                    <span>know</span>
                    <br class="desktop">
                    <br class="mobile">
                    <span>about</span>
                    <span>the</span>
                    <span>latest</span>
                    <span>updates!</span>
                </p>
                <form action="https://ng-colombia.us11.list-manage.com/subscribe/post?u=6b41dea739df1ec2b457d32dd&amp;id=ab82bece5b"
                      method="post"
                      target="_blank">
                    <div>
                        <mat-form-field pbb
                                        [pbbEnabled]="pbb">
                            <input #input
                                   type="email"
                                   name="EMAIL"
                                   matInput
                                   placeholder="E-mail address"
                                   required>
                        </mat-form-field>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"
                         aria-hidden="true">
                        <input type="text"
                               name="b_6b41dea739df1ec2b457d32dd_ab82bece5b"
                               tabindex="-1"
                               value="">
                    </div>
                    <div>
                        <button type="submit"
                                pbb
                                [pbbEnabled]="pbb"
                                mat-flat-button
                                color="primary">SIGN UP</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="big-text"
             pbb
             [pbbEnabled]="pbb">
            <div>
                <span>Get</span>
                <span>the</span>
            </div>
            <div>
                <span>latest</span>
            </div>
            <div>
                <span>news<span class="period">.</span></span>
            </div>
        </div>
    </div>
</div>