<div class="wrapper">
  <div class="middle-container">
    <div class="sign-text">
      <div class="container">
        <p>Sign up to our newslatter and be
          <br> the first to know about dates for
          <br> tickets releasing and more!</p>
        <p>
        <mat-form-field>
          <input matInput placeholder="E-mail address" type="text">
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button color="primary">SIGN UP</button>
      </p>
      </div>
    </div>
    <div class="big-text">
      <div>
        Get the
      </div>
      <div>
        latest
      </div>
      <div>
        news
      </div>
    </div>
  </div>
</div>