@import '~style/_variables.scss';
::ng-deep {
  .mat-dialog-container {
    padding: 0 0 30px 0;
    margin: 0;
  }
  .mat-dialog-content {
    padding: 0;
    margin: 0;
  }
  .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.68);
  }
}

// Toolbar styles
mat-toolbar {
  padding: 0 8px;
  display: flex;
  justify-content: flex-end;
  .close-btn mat-icon {
    font-size: 30px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    vertical-align: bottom;
  }
}

// Content
.content-wrapper {
  padding: 0 30px;
  @media (min-width: $desktop-min-size) {
    padding: 0 50px;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-violet;
    .text {
      flex: 1 1 auto;
      .title {
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: -0.02em;
        &.small {
          font-size: 22px;
        }
        @media (min-width: $desktop-min-size) {
          font-size: 50px;
          line-height: 56px;
        }
      }
      .subtitle {
        margin-top: 10px;
        font-size: 16px;
        @media (min-width: $desktop-min-size) {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
  .info {
    margin-top: 30px;
    text-align: left;
    font-size: 13px;
    color: #000;
    letter-spacing: -0.018em;
  }
}