<div class="event-date">
  <div>Sept.</div>
  <div>6</div>
  <div>7</div>
</div>
<div class="wrapper"
     #wrapper
     parallaxScroll>
  <app-home-banner [bigText]="learnBigText"
                   [subText]="learnSubText"></app-home-banner>

  <app-home-banner class="b"
                   [bigText]="meetBigText"
                   [subText]="meetSubText"></app-home-banner>

  <app-home-banner [bigText]="shareBigText"
                   [subText]="shareSubText"></app-home-banner>

  <ng-container *ngFor="let image of imagesList">
    <img alt=""
         class="ball {{image.device}}"
         [src]='getUrl(image)'
         [class.bottom]="image.layer === 'bottom'"
         [class.front]="image.layer === 'front'"
         [ngStyle]="{left: image.position.x, top: image.position.y}">
  </ng-container>
</div>
<div class="newsletter-wrapper" #newsletter>
  <app-fullscreen class="newsletter">
    <div class="section paragraph" >
      <div class="section title up">
        <h2 class="smaller">Meet <br> the <br> speakers<span class="roboto">.</span></h2>
      </div>
      <p>A diverse mix of Google Developer Experts,<br> experienced developers and engineers, <br>are joining us from all over the world!</p>
      <a class="mat-squared mat-light-button"
         mat-raised-button
         [routerLink]="['/speakers']"
         color="accent">SPEAKERS</a>
    </div>
    <div class="section title down">
      <h2 class="smaller">Meet <br> the <br> speakers<span class="roboto">.</span></h2>
    </div>
  </app-fullscreen>
</div>