:host {
  position: relative;
  display: block;
  overflow: hidden;
  .event-date {
    position: absolute;
    top: 43px;
    left: 16px;
    z-index: 10;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    @media (min-width: 680px) {
      top: 55px;
      left: calc(16px + 2rem);
    }
    > div {
      padding: 2px 20px;
      background-color: #211056;
      margin: 10px 3px;
      color: #fff;
      box-shadow: 0px 0px 0px 1px #63a5cb;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .wrapper {
    background: linear-gradient( to bottom, #a698f7 0%, #dcb3ff 90%, #ffffff 100%);
    padding-bottom: 100px;
    position: relative;
  }
  app-home-banner {
    z-index: 2;
  }
  .ball {
    position: absolute;
    display: none;
    transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    // transform: scale(0.5);
    &.mobile {
      display: block;

      &:nth-of-type(4){
        width: 262px;
        height: 262px;
      }
      &:nth-of-type(5){
        width: 173px;
        height: 173px;
      }
      &:nth-of-type(6){
        width: 109px;
        height: 109px;
      }
      &:nth-of-type(10){
        width: 252px;
        height: 257px;
      }
      &:nth-of-type(11){
        width: 126px;
        height: 128px;
      }
      &:nth-of-type(12){
        width: 252px;
        height: 257px;
      }
      &:nth-of-type(17){
        width: 273px;
        height: 273px;
      }
      &:nth-of-type(18){
        width: 253px;
        height: 253px;
      }
      &:nth-of-type(19){
        width: 143px;
        height: 143px;
      }
      &:nth-of-type(20){
        width: 87px;
        height: 87px;
      }

    }
    &.front {
      z-index: 3;
    }
    &.bottom {
      z-index: 1;
    }
    @media (min-width: 680px) {
      transform: scale(0.7);
      &.mobile {
        display: none;
      }
      &.desktop {
        display: block;
      }
    }
  }
}