:host {
  position: relative;
  display: block;
  overflow: hidden;
  .event-date {
    position: absolute;
    left: 16px;
    top: 40px;
    z-index: 10;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    @media (min-width: 680px) {
      left: calc(16px + 2rem);
    }
    > div {
      padding: 3px 14px;
      background-color: #211056;
      margin: 10px 3px;
      color: #fff;
      box-shadow: 0px 0px 0px 1px #63a5cb;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .wrapper {
    background: linear-gradient( to bottom, #a698f7 0%, #dcb3ff 90%, #ffffff 100%);
    padding-bottom: 100px;
    position: relative;
  }
  app-home-banner {
    z-index: 2;
  }
  .ball {
    position: absolute;
    display: none;
    transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0.5);
    &.mobile {
      display: block;
    }
    &.front {
      z-index: 3;
    }
    &.bottom {
      z-index: 1;
    }
    @media (min-width: 680px) {
      transform: scale(0.7);
      &.mobile {
        display: none;
      }
      &.desktop {
        display: block;
      }
    }
  }
}