$comp-height: 36px;
$comp-width: 220px;
$int-padding: 2px;

.slider {
    width: $comp-width;
    height: $comp-height;
    border: 0.5px solid white;
    border-radius: ($comp-height / 2) + 2;
    clear: both;
    cursor: pointer;
    padding: 2px;
    &:before {
        background-color: rgba(255,255,255,0.2);
        border-radius:  $comp-height / 2;
        position: absolute;
        width: $comp-width + 1;
        height: $comp-height + 1;
        left: $int-padding;
        top: $int-padding;
        content: "";
        display: block;
    }
    span {
        transition: all 0.3s ease-in-out;   
        position: relative;
        width: $comp-height - ($int-padding * 4);
        height: $comp-height - ($int-padding * 4);
        top:  $int-padding * 2;
        left:  $int-padding * 2;
        border-radius: 50%;
        background-color: #78F5FF;
        display: block;
    }
}

:host {
    position: absolute;
    left: calc(50% - 100px);
    bottom: 40px;
    &.right span {
        left: $comp-width - 32px;
    }
}

p {
    text-transform: uppercase;
    color: white;
}