@import 'style/palette';

body{
  font-family: 'Muli', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
}