@import 'style/variables';
* {
  font-family: Poppins, Roboto, sans-serif;
}

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  border: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

*:not(input) {
  user-select: none;
  box-sizing: border-box;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: bold;
  color: $dark-violet;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

// To prevent horizontal scroll on iPhone 5
.mat-drawer-content {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(210, 210, 210, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(210, 210, 210, 0.4);
}

a.menu-link.small.mat-list-item .mat-list-item-content {
  font-size: 13px;
  font-weight: 500;
}