@import 'style/palette';

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;

  border: 0;
  margin: 0;
  height: 100vh;
  padding: 0;
}

*:not(input) {
  user-select: none;
  box-sizing: border-box;
}
