<app-fullscreen>
  <div class="section title">
    <h2 class="smaller">Diversity Scholarships<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>At NgColombia we are committed to achieve <span class="bold">a diverse representation of our community</span> and to provide an inclusive environment where everyone feels safe and welcome, <span class="bold">a place where they feel like they belong.</span><br><br> Anyone from an underrepresented group in technology is invited to apply. <span class="bold">This includes, but is not limited to:</span> people of color, people with disabilities, people who identify as LGBTQIA+, women and non-binary people, those facing economic or social hardships, and veterans.</p>
    <a class="mat-squared mat-light-button"
       href="https://docs.google.com/forms/d/e/1FAIpQLScO8PdPhGmp53Vo3pQordnoq8MjjwAC7pdB0zeqRn5p0JKbxA/viewform"
       target="_blank"
       mat-raised-button
       color="accent">Apply Now</a>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2>Apply now<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>
      The Diversity Scholarship will provide free tickets for the conference and constant accompaniment to those who need it the most. The only thing they will worry about is the positive impact the conference will make in their careers. This is our selection criteria:
    </p>
    <p class="bullet">✔️ <span class="bold">Impact:</span> The impact NgColombia will make in your professional career.</p>
    <p class="bullet">✔️ <span class="bold">Interest:</span> The interest you have of participating of NgColombia.</p>
    <p class="bullet">✔️ <span class="bold">Sharing:</span> Your desire of sharing the knowledge acquired with others.</p>
    <br>
    <a class="mat-squared mat-light-button"
       href="https://docs.google.com/forms/d/e/1FAIpQLScO8PdPhGmp53Vo3pQordnoq8MjjwAC7pdB0zeqRn5p0JKbxA/viewform"
       target="_blank"
       mat-raised-button
       color="accent">Apply Now</a>
  </div>
</app-fullscreen>
<app-fullscreen>
  <div class="section title">
    <h2>Sponsor<span class="roboto">.</span></h2>
  </div>
  <div class="section paragraph">
    <p>If you are interested in sponsoring someone, please reach out to us. We'd be super happy to guide your through the process. Your help can make a tremendous impact in the professional career of many people. <br><br> Just hit us up at <a href="mailto:info@ngcolombia.com"
         target="_blank"><span class="bold">info@ngcolombia.com</span></a>
    </p>

  </div>
</app-fullscreen>