@import '../../../style/_variables.scss';

:host {
  display: block;
}

// Toolbar styles
mat-toolbar {
  margin: -24px -24px 20px;
  width: calc(100% + 48px);

  #toolbarSpacer {
    flex: 1;
  }
}

// Content
.grid-container {
  display: grid;
  grid-gap: 5px;
  place-items: stretch;
  place-content: stretch;

  @media (min-width: $desktop-min-size) {
    grid-template: 150px / repeat(3, 1fr);
  }
}

// Grid item styles
.grid-item {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  @media (min-width: $desktop-min-size) {
    &.speakerDialogTitle{
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &.speaker-bio {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}

// Specific blocks styles
img {
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.speakerDialogTitle > div {
  // Only in desktop
  font-size: 4vw;
  justify-content: left;

  @media (min-width: $desktop-min-size) {
    font-size: 2vw;
  }
}

.speakerName {
  font-size: 1.2em;
  font-weight: bold;
}

.speaker-bio {
  text-align: center;
}
